/* Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}
:root{
    --orange: #ff6801;
    --black: #0E0E0E;
    --green: green;
    --red: red;
    --white: white;
}
.clearfix::after{
    content:'';
    display: table;
    clear: both;
}
.container{
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
}
.flex{
    display: flex;
}


/* barra di navigazione */
.fixed{
    position: fixed;
    top: 0;
}
header .z_index{
    z-index: 500;
}
header .bg_orange{
    background-color: var(--orange);
    width: 100%;
    box-shadow: 2px 2px 5px rgba(30,30,30,0.5);
}
header nav.flex{
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
header ul.flex li{
    list-style: none;
}
header nav a{
    text-decoration: none;
    color: var(--white);
    padding-right: 12px;
    font-weight: bold;
    font-size: 18px;
    display: block;
}
header nav .logo{
    height: 35px;
}

/* articoli in vendita */
.margin_top{
    margin-top: 130px;
}
.item{
    width: calc((100% - 30px) / 3);
    position: relative;
    float: left;
    margin-bottom: 50px;
}
main div.container .item:nth-of-type(3n + 2){
    margin-right: 15px;
    margin-left: 15px;
}
.item .photo img{
    width: 100%;
}

/* elementi dentro le immagini */
.item .heart{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 35px;
    background-color: white;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.item .sale{
    position: absolute;
    left: 0;
    bottom: 100px;
}
.item .text_sale{
    padding: 4px 11px;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
}
.item .bg_red{
    background-color: var(--red);
}
.item .bg_green{
    background-color: var(--green);
}

/* testo sotto l'immagine */
.item .text_red{
    color: var(--red);
}

/* animazione con hover */
.item .img_b{
    display: none;
}
.photo:hover .img_b{
    display: inline-block;
    cursor: pointer;
}
.photo:hover .img_a{
    display: none;
}
.heart:hover{
    color: var(--red);
    cursor: pointer;
}

/* footer */

footer .bg_black{
    background-color: var(--black);
    padding-top: 50px;
}
footer .container.flex{
    justify-content: space-between;
}
footer h3, footer h5{
    color: var(--white);
}
footer .container.flex ul{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 40px;
}
footer .container.flex ul li a{
    text-decoration: none;
    color: var(--white);
    padding-right: 15px;
}
footer .container.flex ul.right li a{
    padding-right: 0px;
    padding-left: 15px;
    font-size: 18px;
}
footer .container.flex ul.right{
    justify-content: flex-end;
}